<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pexels Reviewer</title></head>
<body>
{% if finished %}
<h2>All terms Completed.</h2>
<p>Total Downloaded Files: {{ downloaded }}</p>
{% else %}
<h3>Term ({{ term_idx+1 }}/{{ total_terms }}): {{ term }} ({{ current_api }}) [downloaded: ({{ term_photo_counter }})]</h3>
{% if photo_url %}
<img src="{{ photo_url }}" style="max-width:90vw;max-height:70vh;border:1px solid #ccc;" alt="photo">
<div class="yes-no" style="display:flex; gap:10px; margin-top:10px; flex-direction: row;">
    <form method="post" action="{{ url_for('decision') }}">
        <input type="hidden" name="action" value="yes">
        <button type="submit" style="height: 35px; border-radius: 10px;">Yes (Save)</button>
    </form>
    <form method="post" action="{{ url_for('decision') }}">
        <input type="hidden" name="action" value="no">
        <button type="submit" style="height: 35px; border-radius: 10px;">No (Skip)</button>
    </form>
    <form method="post" action="{{ url_for('decision') }}">
        <input type="hidden" name="action" value="previous">
        <button type="submit" style="height: 35px; border-radius: 10px;">Previous Image</button>
    </form>
</div>
<div class="term" style="display:flex; gap:10px; margin-top:10px; flex-direction: row;">
    <form method="post" action="{{ url_for('decision') }}">
        <input type="hidden" name="action" value="prev-term">
        <button type="submit" style="height: 35px; border-radius: 10px;">Previous Term</button>
    </form>
    <form method="post" action="{{ url_for('decision') }}">
        <input type="hidden" name="action" value="next-term">
        <button type="submit" style="height: 35px; border-radius: 10px;">Next Term</button>
    </form>
</div>
<div class="api" style="display:flex; gap:10px; margin-top:10px; flex-direction: row;">
    <form method="post" action="{{ url_for('decision') }}">
        <input type="hidden" name="action" value="use-pexels-api">
        <button type="submit" style="height: 35px; border-radius: 10px;">Use Pexels API</button>
    </form>
    <form method="post" action="{{ url_for('decision') }}">
        <input type="hidden" name="action" value="use-pixabay-api">
        <button type="submit" style="height: 35px; border-radius: 10px;">Use Pixabay API</button>
    </form>
</div>
{% else %}
<p>No image for this term. Skipping...</p>
<a href="{{ url_for('next_step') }}">Continue</a>
{% endif %}
<p>Downloaded: {{ downloaded }}</p>
{% endif %}
</body>
</html>